# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Entornos virtuales
venv/
venv_coffee/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Archivos sensibles
.env
*.env
secrets.json
